*.o
accent/accent
examples/exmplamber/amber
examples/exmplaccent/calculator
examples/exmplaccent/yygrammar.c
*.c.orig
src/accent
src/actions.c
src/bnf.c
src/code.c
src/encode.c
src/flatten.c
src/gen.h
src/gen.l
src/gen.lit
src/gen.tkn
src/gen.y
src/lexinfo.c
src/verbose.c
src/yylex.c
src/yytab.c
